
langchain-community==0.2.12
langchain-core
langchain==0.2.14
langsmith==0.1.120
langchain-openai==0.1.20
transformers==4.32.1
cpm_kernels
faiss-cpu
fastapi~=0.95.0
uvicorn~=0.21.1
pydantic~=1.10.7
starlette~=0.26.1
numpy~=1.23.5
tqdm~=4.65.0
requests~=2.28.2
rapidocr_onnxruntime
mysql-connector-python
treelib
python-docx
cn2an
unstructured==0.11.2
python-pptx==0.6.21
pdf2docx==0.5.7
pandas==1.5.3
elasticsearch==7.13.1
pymilvus==2.2.12
fuzzywuzzy==0.18.0
SQLAlchemy==2.0.17
tritonclient==2.35.0
urllib3==1.26.6
websockets==11.0.3
websocket-client==1.7.0
python-multipart==0.0.6
# gevent==22.10.2
gevent==23.9.0.post1
xlrd==2.0.1
openpyxl==3.1.2
scipy==1.10.1
openai==1.32.0
scikit-learn
umap-learn
Jinja2==3.1.2
ujson
kafka-python==2.0.2
langfuse==2.52.2
minio==7.2.10
httpx==0.27
celery==5.5.2
flower==2.0.1
redis==6.1.0